<?xml version="1.0"?>
<appSettings>
	<!-- Azure -->
	<add key="EndPointUri" value="https://medcare.documents.azure.com:443/" />
	<add key="PrimaryKey" value="wCqolYx2PYWNieDalBlM1b01jhZ6jGKd4RqZgriM3qI29v9zcm1o81Eb3pPd36Idh2uUaB7ZGH9qSm1SX2vOlQ==" />

		<!-- default -->
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
	
</appSettings>
